@charset "utf-8";
/* CSS Document */
.navbar-nav>li>.dropdown-menu {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top : 85%;
}

.navbar-nav>li>.dropdown-menu .form{
  padding : 0px; margin-right: 7px;
  color : black;
}

.navbar-nav>li>.dropdown-menu .btn{padding: 3px 20px; 
    color : black;     
    text-decoration: none;
    width : 100%;
    margin-right : -10px;
}

.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus {
	outline : none;
	
}

.navbar-nav>li>.dropdown-menu .btn:hover{
    background-color : #f5f5f5;
}